body, html, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', SansSerif, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --black-color: #2A2A2A;
  --white-color: #FFFFFF;
  --orange-color: #F9A43F;
  --gray-color: rgba(54, 54, 54, 0.1);
  --neutral-color: rgb(250, 249, 249);
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}

h5 {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
}

h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  &--bold {
    font-weight: 700;
  }

  &--medium {
    line-height: 20px;
  }

  &--small {
    font-size: 14px;
    line-height: 16px;
  }
}

.screen-title {
  padding-bottom: 25px;
}

.wrapper {
  padding: 0 10%;

  &--screen {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  &--last, &--item {
    padding-bottom: 45px;
  }
}