.card-buy-card {
  width: 300px;
  padding: 35px 35px 30px;
  box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
  border-radius: 9px;
  background-color: var(--white-color);
  &__sum {
    font-size: 18px;
    padding-bottom: 20px;
    & span {
      font-size: 33px;
    }
  }
}